---
import MainLayout from "../layouts/mainLayout.astro";
const posts = await Astro.glob("./posts/*.mdx");
---

<MainLayout title="Env" category="env">

    <h2>開発環境 <span class="font-thin sub-text"> - Devlop Env</span></h2>
    <h3>工事中</h3>
    <p>工事中です....</p>
    <!-- <section>
        <h2>パソコン<span class="font-thin sub-text"> - PC</span></h2>

        <h3>ThinkPad T480s</h3>

        <img src="/images/PXL_20231231_154000216.PORTRAIT.ORIGINAL2.jpg" alt="">

        <p>
            普段使いしていたMacBook Proのメモリ不足に苦しめられ、夏休みに労働しまくって買いました。
        </p>

        <p>
            開発をするだけなので、CPUは Intel(R) Core i5-8350U。ただ、WEB開発をしていると以上にメモリを食うのでメモリは脅威の40GBです。
            1 枚 32GB を差すことでオンボード 8GB + 32GB = 40GB になってます。（ちなみに、公式では 32GB までしかサポートしていませんが、限界突破して 40GB にしています。試すときは個人の責任で...）
        </p>

        <p>
            そして ThinkPad、トラックポイントが非常に優秀なんですよね。外で作業するときとかこれがないと生きていけない体になってしまいました。
            ホームポジションを全く崩さずにマウスカーソルが移動できるのは本当に便利です。全人類は一回使ってみてほしいし、全パソコンにこれを導入してほしいと思ってます。
        </p>

        <a class="rlc-container" href="https://www.lenovo.com/jp/ja/p/laptops/thinkpad/thinkpad-t-series/thinkpad-t480s/22tp2tt480s">
            <div class="rlc-info">
                <div class="rlc-title">
                Lenovo ThinkPad T480s | 軽量、薄型のビジネスユース向け 14 型ノート PC  | レノボ・ ジャパン
            </div>
                <div class="rlc-description">ThinkPad T480sは軽量で薄型でありながら高性能な14型のビジネス向けノート PCです。セキュリティを強化し生産性を高めるさまざま機能を備え、長時間駆動できるバッテリーを搭載しています。</div>
                <div class="rlc-url-container">
                <img class="rlc-favicon" src="https://www.google.com/s2/favicons?domain=www.lenovo.com" alt="
                Lenovo ThinkPad T480s | 軽量、薄型のビジネスユース向け 14 型ノート PC  | レノボ・ ジャパン
            favicon" width="16" height="16">
                <span class="rlc-url">https://www.lenovo.com/jp/ja/p/laptops/thinkpad/thinkpad-t-series/thinkpad-t480s/22tp2tt480s</span>
                </div>
            </div>
        
        </a>

        <p>
            と、ここで重要なのがOS何使うか問題。もちろんThinkPadといえばLinuxなのは当然なのですが、ディストロ選びが大変。と思っていましたが、
            同じクラスの <a href="https://twitter.com/kat0h_">kato</a> がArch Linuxを使っていたこともあり、Arch Linuxを入れることに。Windowsは犠牲になってもらいました。
        </p>

        <a class="rlc-container" href="https://www.archlinux.jp/">
            <div class="rlc-info">
                <div class="rlc-title">Arch Linux JP Project</div>
                
                <div class="rlc-url-container">
                <img class="rlc-favicon" src="https://www.google.com/s2/favicons?domain=www.archlinux.jp" alt="Arch Linux JP Project favicon" width="16" height="16">
                <span class="rlc-url">https://www.archlinux.jp/</span>
                </div>
            </div>
            
        </a>

        <h3>MacBook Pro 2017</h3>

        <h3>ThinkPad X220</h3>

        <h3>FUJITSU FMVD35001</h3>
    </section>
    <section>
        <h2>周辺機器<span class="font-thin sub-text"> - Gadget</span></h2>
        <h3>Google Pixel 6a</h3>

        <h3>iPad Air Gen-4</h3>

        <h3>Redmi Watch 3 Active</h3>

        <h3>DELL S2721D(S)</h3>

        <h3>TrackPoint Keyboard II</h3>

        <h3>HHKB Pro Type-S</h3>

        <h3>Creative Pebble V2</h3>

        <h3>Brother DCP-J982N</h3>

        <h3>Nintendo Switch</h3>
    </section>

    <section>
        <h2>ArchLinux<span class="font-thin sub-text"> - OS</span></h2>
    </section> -->
</MainLayout>