---
import MainLayout from "../layouts/mainLayout.astro";
const posts = await Astro.glob("./posts/*.mdx");
---

<MainLayout title="Top" category="top">

	<section>
		<h2>プロフィール <span class="font-thin sub-text"> - Profile</span></h2>
		<div class="flex flex-row items-center justify-center py-3 mb-5">
			<img src="/icon.png" alt="" class="user-icon w-24 md:w-28 mr-5 my-3">
			<div class="flex flex-col w-full">
				<p class="text-2xl md:text-3xl my-3 font-bold text-white">みみちゃん<span class="block font-normal text-sm sub-text">@mimi_chan</span></p>
				<p>草を生やしていません。</p>
			</div>
		</div>

		<p>
			電気通信大学情報理工学域 I 類に在学<br />
			小学校高学年の頃にお小遣いをかき集めて中古のパソコンを買い、
			中学生から本格的にプログラミングを始めるなど...
		</p>
		<p>
			普段はWEBの技術を触っていて、サイトの作成やアプリの開発をしています。
		</p>
	</section>
	
	<section>
		<h2 class="mb-7">趣味 <span class="font-thin sub-text"> - Hobbies</span></h2>

		<h3>徒歩</h3>
		<p>
			徒歩を手段ではなく目的として捉えており、たまに長距離の徒歩をしています。
		</p>
		<ul>
			<li>調布 - 羽田空港 : 26.4km</li>
			<li>調布 - 奥多摩 : 52.9km</li>
			<li>大手町 - 平塚 : 65.8km</li>
		</ul>
		<p>
			などが最近の記録。平塚まで歩いたのは箱根駅伝を徒歩で制覇しようとして失敗した残骸です。
		</p>

		<h3>料理</h3>
		<p>
			もともと料理は好きで実家ではたまにやっていたのを、大学生になって一人暮らしを始めてからよく料理をするようになりました。
		</p>
		<p>
			スパイスからカレーを作ったりしています。
		</p>
	</section>
		<section>
		<h2 class="mb-7">サークル活動<span class="font-thin sub-text"> - Club</span></h2>

		<h3>team411</h3>
		<p>
			電気通信大学のベンチャー工房帰属のサークルです。<strike>学友会ではないので好き勝手できます。</strike>
		</p>
		<blockquote cite="https://datatracker.ietf.org/doc/html/rfc1149">
			<p>
				team411は大学生が「自分たちの身の回りの課題」を解決するために、<br/>
				IT技術を用いてプロダクトを開発する電気通信大学のチームです。
			</p>
		</blockquote>
		<p>
			気づいたら幹部になっていました。<br/>
			ちまちまいろんなアプリを開発しています。
		</p>
		<a class="rlc-container" href="https://www.team411.jp/team411%E3%81%A8%E3%81%AF">
			<div class="rlc-info">
				<div class="rlc-title">team411 - トップ</div>
				<div class="rlc-description">電通大で唯一の、事業化に向けたITプロジェクトができるサークル
			</div>
				<div class="rlc-url-container">
				<img class="rlc-favicon" src="https://www.google.com/s2/favicons?domain=www.team411.jp" alt="team411とは favicon" width="16" height="16">
				<span class="rlc-url">https://www.team411.jp/</span>
				</div>
			</div>
			<div class="rlc-image-container">
				<img class="rlc-image" src="https://lh4.googleusercontent.com/0EEtThdcCisZ2vSXu5l-ileDR4yamtFD4Glvi0c_DHeYeagwkwjXsM6Oeuy2gffZorbzQLtm7-G9dFCfMBzVyCk=w16383" alt="team411とは">
			</div>
		</a>

		<h3>工学研究部</h3>
		<p>
			ハードウェアのお勉強をしようと思って入りました、が忙しくてなかなかできてません。<br/>
			2年次から本気を出そうと思っているので許してください。
		</p>

		<a class="rlc-container" href="https://www.koken.club.uec.ac.jp/">
			<div class="rlc-info">
				<div class="rlc-title">UEC Koken</div>
				<div class="rlc-description">電気通信大学 工学研究部は大学公認のサークルです。電子工作、マイコン、プログラミング、機械工作など幅広く活動しています。サークル棟2階製作室の部室をお気軽にお尋ねください。</div>
				<div class="rlc-url-container">
				<img class="rlc-favicon" src="https://www.google.com/s2/favicons?domain=www.koken.club.uec.ac.jp" alt="UEC Koken favicon" width="16" height="16">
				<span class="rlc-url">https://www.koken.club.uec.ac.jp/</span>
				</div>
			</div>
		</a>

		<h3>調布祭実行委員会（◯調）</h3>
		<p>
			気づいたら入っていました。<br />
			第74回の調布祭に編集局のメンバーとして携わりたいと思っています。
		</p>
		<p>
			入るきっかけをくれた、<a href="https://twitter.com/UEC_nemui">眠いマン</a>には感謝ですね。
		</p>

		<a class="rlc-container" href="https://www.chofusai.jp/">
			<div class="rlc-info">
				<div class="rlc-title">第73回調布祭</div>
				<div class="rlc-description">第73回調布祭公式Webサイト</div>
				<div class="rlc-url-container">
				<img class="rlc-favicon" src="https://www.google.com/s2/favicons?domain=www.chofusai.jp" alt="第73回調布祭 favicon" width="16" height="16">
				<span class="rlc-url">https://www.chofusai.jp/</span>
				</div>
			</div>
			<div class="rlc-image-container">
				<img class="rlc-image" src="https://www.chofusai.uec.ac.jp/opengraph-image?06b423e26ca20a64" alt="第73回調布祭">
			</div>
		</a>
	</section>

</MainLayout>