---
import "./header.scss";

const { category } = Astro.props;

---

<header>
    <nav>
        <div class="flex w-full flex-col items-center justify-center py-3">
            <div class="flex w-full h-20 items-center justify-center text-white bg-primary">
                <a href="#" class="flex text-4xl font-bold">MimiChan</a>
            </div>
            <ul class="flex w-full items-center justify-center space-x-4 bg-secondary">
                <li class="flex"><a href="/" class={`${category === "top" && "text-white font-bold current"} px-3 py-2`} aria-current={`${category === "top" && "page"}`}>Top</a></li>
                <li class="flex"><a href="/blog" class={`${category === "blog" && "text-white font-bold current"} px-3 py-2`} aria-current={`${category === "blog" && "page"}`}>Blog</a></li>
                <li class="flex"><a href="/works" class={`${category === "works" && "text-white font-bold current"} px-3 py-2`} aria-current={`${category === "works" && "page"}`}>Works</a></li>
                <li class="flex"><a href="/env" class={`${category === "env"&& "text-white font-bold current"} px-3 py-2`} aria-current={`${category === "env" && "page"}`}>Env</a></li>
            </ul>
        </div>
    </nav>
</header>