---
import "./header.scss";

const { type } = Astro.props;
---

<header>
    <nav>
        <div class="flex w-full flex-col items-center justify-center py-3">
            <div class="flex w-full h-20 items-center justify-center bg-primary">
                <a href="#" class="header-logo">
                    <img src="/header.png" alt="" class="image">
                    みみの小屋
                </a>
            </div>
            <ul class="page-list flex w-full items-center justify-center space-x-4 bg-secondary">
                <li class="flex"><a href="/" class={`${type === "top" && "font-bold current"} px-3 py-2`} aria-current={`${type === "top" && "page"}`}>Top</a></li>
                <li class="flex"><a href="/about" class={`${type === "about" && "font-bold current"} px-3 py-2`} aria-current={`${type === "about" && "page"}`}>About</a></li>
                <li class="flex"><a href="/blogs" class={`${type === "blogs" && "font-bold current"} px-3 py-2`} aria-current={`${type === "blogs" && "page"}`}>Blogs</a></li>
                <li class="flex"><a href="/works" class={`${type === "works" && "font-bold current"} px-3 py-2`} aria-current={`${type === "works" && "page"}`}>Works</a></li>
            </ul>
        </div>
    </nav>
</header>