---
const { title, subtitle, type } = Astro.props.frontmatter || Astro.props;

import Header from "./header/header.astro";
import Footer from "./footer/footer.astro";

import "../styles/global.scss";

---
<html lang="ja">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title ? title + " - みみの小屋" : "みみの小屋"}</title>
    <style lang="scss" />

    <!-- Google tag (gtag.js) -->
    <script type="text/partytown" async src="https://www.googletagmanager.com/gtag/js?id=G-587DZP8737"></script>
    <script type="text/partytown">
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-587DZP8737');
    </script>
</head>
<body class="flex flex-col px-5 min-h-full">
        <Header type={type}/>
        <main class="flex-grow container max-w-screen-md mx-auto py-7">
            <article class="post">
                {type === "top" ? "" : (<h1>{title}<span>{subtitle}</span></h1>)}
                <slot />
            </article>
        </main>
        <Footer />
    </div>
</body>

</html>