<footer>
    <nav>
        <div class="flex w-full flex-col items-center justify-center py-3">
            <div class="flex w-full items-center justify-center">
                <a href="#" class="flex text-sm">© 2024 MimiChan</a>
            </div>
        </div>
    </nav>
</footer>